body {
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.329);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
html{
  font-family: 'Roboto', sans-serif;
}
/* General
---------------------*/
.section {
  padding: 80px 0;
  position: relative;
}

/* Navbar
---------------------*/
.navbar {
  background-color:rgb(184, 204, 190); 
   padding:15px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.nav-link,
.navbar-brand {
    color: rgb(24, 24, 24);
    letter-spacing: 4px;
    cursor: pointer; 
    font-size:1rem;
}
.nav-link {
    margin-right: 1em;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Landing-page
---------------------*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/masthead-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-text-bg{
    background-color: #f7e7ce98;
    padding: 3%;
  }
.sub-heading , .masthead-paragraph{
  font-weight: 300;
}
/* Hero
---------------------*/
.page-title{
  font-weight: 100;
}
/* About 
---------------------*/
.about-section{
  background-color: #f7e7ce3b;
  padding: 20px;
}

/* Testimonials 
---------------------*/
.card-text{
  padding:10px;
}
.star-icon{
color: rgb(240, 202, 80);
}
@media screen and (min-width: 1400px) {
.zoom:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);
}
.zoom{
  transition: transform .2s;
}
  }
/* FAQ
---------------------*/
.accordion-body{
  font-size: 1.2rem;
}
.accordion-button{
  background-color: #f7e7ce3b;
  padding: 20px;
}
.accordion-button{
  font-size: 1.2rem;
}

/*  Services 
---------------------*/
.service-section{
  margin-top:-15%;
  padding: 10%;
}
.service-section h3{
  color: rgba(24, 23, 23, 0.863);
  font-weight: 500;
  text-decoration: underline 1px;

}
.service-section .row{
  margin-top: 10%;
}

.service-img {
  text-align: center;
}

.list-group-item{
  background-color: #f7e7ce3b;
}


/* Contact
---------------------*/
.contact-form{
  background-color: #f7e7ce3b;
  padding: 1%;
}

/* Footer
---------------------*/
.copyright{
  font-size: 10px;
  color: rgba(128, 128, 128, 0.459);
}

        

